 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111827;
}

.loader{
  display: flex;
  gap: 20px;
}

.loader span{
  width: 25px;
  height: 25px;
  background: rgb(245, 4, 4);
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
  -webkit-animation: bounce 0.6s infinite alternate;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

   .loader span:nth-child(2){
  animation-delay: 0.2s;
}

.loader span:nth-child(3){
  animation-delay: 0.4s;
} 
.loader span:nth-child(5){
  animation-delay: 0.6s;
} 

@keyframes bounce{
  from{
    transform: translateY(0);
    opacity: 0.5;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

  to{
    transform: translateY(-25px);
    opacity: 1;
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
}
} 
